/* CSS Document */
body{ margin:0px;}

.welcomeBg{ background-color:#6C8647;}
.pad{padding: 5px 5px 5px 5px}
.padL12{padding:0px 0px 0px 12px}
.padL20{padding:0px 0px 0px 15px}
.padL20a{padding:0px 0px 0px 20px}
.padL20ab{padding:0px 0px 0px 38px}
.padL30{padding:0px 0px 0px 30px}
.padL60{padding:0px 0px 0px 60px}
.padL5{padding:0px 0px 0px 5px}
.padLR3{padding:0px 5px 0px 3px}
.padLR5{padding:0px 5px 0px 5px}
.padLR10{padding:0px 10px 0px 10px}
.padL3{padding:0px 0px 0px 3px}
.padL_next{padding:0px 0px 0px 617px}
.padR5{padding:0px 5px 0px 0px}
.padR19{padding:0px 304px 0px 0px}
.padR19a{padding:0px 19px 0px 0px}
.padR22{padding:0px 22px 0px 0px}
.padR28{padding:0px 37px 0px 0px}
.padR60{padding:0px 60px 0px 0px}
.padLR20{padding:0px 20px 0px 20px}
.padTop_attach{padding:20px 0px 0px 20px}
.padT5{padding:5px 0px 0px 6px}
.padT1{padding:1px 0px 0px 0px}
.padT3{padding:3px 0px 0px 0px}

.border_table_grey
{
border-left:1px solid #BEBEBE;
border-right:1px solid #BEBEBE;
}
.border_indus_pub
{
border-left: 1px solid #C9CED2;
border-right: 1px solid #C9CED2;
}
.border_ter_tab
{
border-right: 1px solid #C9CED2;
}
.border_tab_trb
{
border-top: 1px solid #C9CED2;
border-right: 1px solid #C9CED2;
border-bottom: 1px solid #C9CED2;
}
.border_tab_rb
{
border-right: 1px solid #C9CED2;
border-bottom: 1px solid #C9CED2;
}
.border_tab_tb
{
border-top: 1px solid #C9CED2;
border-bottom: 1px solid #C9CED2;
}
.border_tab_b
{
border-bottom: 1px solid #C9CED2;
}
.border_table
{
border-left:1px solid #8EC4E3;
border-right:1px solid #8EC4E3;
}
.border_T
{
border-top: 1px solid #BEBEBE;
}
.border
{
border-left: 1px solid #ABD7F4;
border-right: 1px solid #ABD7F4;
border-bottom: 1px solid #ABD7F4;
}
.border_mca
{
border-left: 1px solid #ABD7F4;
border-bottom: 1px solid #ABD7F4;
}

.border1
{
border: 1px solid #ABD7F4;
}
.bordertable
{
border-left: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
}
.border2
{
border-bottom: 1px solid #ABD7F4;
}
.border3
{
border: 1px solid #BEBEBE;
}
.border4
{
border-top: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border5
{
border-bottom: 1px solid #BEBEBE;
}
.border_comment
{
border: 1px solid #ABD7F4;
}
.border_comment1
{
border-top: 1px solid #BEBEBE;
border-left: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border5_blue
{
border-bottom: 1px solid #BEBEBE;
}
.border5_bluemca
{
border-bottom: 1px solid #BEBEBE;
}
.border3a
{
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border3aend
{
border-bottom: 1px solid #BEBEBE;
}
.border4a
{
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border4a_right
{
border-right: 1px solid #BEBEBE;
}
.border4a_blue
{
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border5a
{
border-left: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}

.bg_skyblue
{
background-color:#C2E4FD;
}
.blue_color
{
background-color:#D4EEFF;
text-align:left;
}
.border_white_bot
{
border-bottom: 1px solid #FFFFFF;
}
.counter_pop
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
}
.counter_pop_txt
{
color:#295876;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.blue_bg
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:14px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}

.blue_bg1
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:14px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding:0px 0px 0px 6px;
}
.blue_bg2
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}
.blue_bg2mca
{ 
background: url(../images/blue_bg.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}
.blue_bg2_no_un
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
padding:0px 0px 0px 12px;
}
.blue_bg2_pop
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding:0px 0px 0px 12px;
}
.blue_bg3
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding:0px 0px 0px 6px;
}
.blue_bg3_cp
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding:0px 0px 0px 6px;
}
.blue_bg2_cp
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 12px;
}
.blue_bg2_cp_plain
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
height:30px;
padding:0px 0px 0px 12px;
}
.blue_bg2_cp_pen
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 12px;
}
.blue_bg_indus
{ 
background: url(../images/blue_bg_indus.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.blue_bg2 a
{ 
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}
.blue_bg2 a:hover
{ 
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}
.blue_pop_bg1_small
{ 
background: url(../images/blue_popup_bg.gif) repeat-x left top;
height:30px;
color:#000000;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.blue_pop_bg1
{ 
background: url(../images/blue_popup_bg.gif) repeat-x left top;
height:90px;
color:#000000;
font-size:16px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.blue_pop_bg2
{ 
color:#626262;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.blue_pop_bg3
{ 
background: url(../images/blue_popup_bg.gif) repeat-x left top;
height:94px;
color:#626262;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.blue_con_bg
{
background-color: #E0F5FA;
padding: 5px 5px 5px 5px;
}
.indus_sec_tab_bg
{ 
background: url(../images/indus_sec_tab_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding:0px 0px 0px 12px;
}
.product_bg
{
background-color:#E9F6FE;
color:#000000;
font-size:12px;
font-weight:bold;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 10px 5px 10px;
}
.recent_comm_bg
{
background-color:#E9F6FE;
color:#000000;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
height:15px;
padding: 5px 0px 5px 10px;
}
.recent_comm
{
color:#000000;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
cursor:hand;
padding: 5px 0px 5px 10px;
}
.recent_comm_mid_bg
{
background-color:#FFFFFF;
color:#000000;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
cursor:hand;
padding: 5px 0px 5px 10px;
}
.ter_tab_bg
{ 
background: url(../images/ter_tab_bg.gif) repeat-x left top;
height:42px;
border-left: 1px solid #6BAAD3;
border-right: 1px solid #6BAAD3;
}
.ter_tab_bg2
{ 
background: url(../images/ter_tab_bg2.gif) repeat-x left top;
height:52px;
}
.ter_tab_bg_dis
{ 
background: url(../images/ter_tab_bg.gif) repeat-x left top;
height:52px;
}
.ter_tab_txt
{ 
color:#000000;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
border-right: 1px solid #C9CED2;
text-align:center;
height:30px;
}
.ter_tab_dis_txt
{ 
color:#89A8BC;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
border-right: 1px solid #C9CED2;
text-align:center;
}
.ter_inner_ontab_txt
{ 
color:#000000;
background: url(../images/ter_inner_ontab_bg.gif) repeat-x left top;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
margin-top:1px;
text-align:center;
}
.ter_inner_offtab_txt
{ 
color:#FFFFFF;
background: url(../images/ter_inner_tab_bg.gif) repeat-x left top;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.ter_inner_ontab_dis_txt
{ 
color:#C0ECFF;
background-color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.ter_inner_offtab_dis_txt
{ 
color:#C0ECFF;
background: url(../images/ter_inner_tab_bg.gif) repeat-x left top;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.ter_tab_txt_small
{ 
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.ter_temp_txt_small
{ 
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:left;
vertical-align:top;
padding: 0px 0px 0px 20px;
}
.ter_tab_bg2
{ 
background: url(../images/ter_tab_bg2.gif) repeat-x left top;
color:#000000;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.general_cnt_head
{
color:#6B6B6B;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:left;
vertical-align:top;
padding: 3px 0px 3px 5px;
}
.general_cnt_txt
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:left;
vertical-align:top;
padding: 5px 5px 5px 5px;
}
.general_terms_txt
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:center;
padding: 5px 5px 5px 5px;
}
.general_txt_bc
{
color:#000000;
background-color:#F3F3F3;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:left;
vertical-align:top;
padding: 3px 0px 3px 5px;
}
.general_txt_bc a
{
color:#000000;
background-color:#F3F3F3;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_txt_bc a:hover
{
color:#000000;
background-color:#F3F3F3;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_head_bc
{
color:#000000;
background-color:#F3F3F3;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:left;
vertical-align:top;
padding: 3px 0px 3px 5px;
}
.general_head_bc a
{
color:#000000;
background-color:#F3F3F3;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_head_bc a:hover
{
color:#000000;
background-color:#F3F3F3;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_txt
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_txt a
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}
.general_txt a:hover
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
text-align:center;
padding: 3px 0px 3px 0px;
}

.general_txt2
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:left;
padding: 3px 0px 3px 5px;
}
.general_txt2 a
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
text-align:left;
padding: 3px 0px 3px 5px;
}
.general_txt2 a:hover
{
color:#6B6B6B;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
text-align:left;
padding: 3px 0px 3px 5px;
}
.reset
{
color:#295876;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
padding: 3px 0px 3px 0px;
}
.reset a
{
color:#295876;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.reset a:hover
{
color:#295876;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.normal
{
background-color:#FFFFFF;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.normal2
{
background-color:#FFFFFF;
color:#ADADAD;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.yellow
{
background-color:#FFFBCB;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.green
{
background-color:#D9F2D2;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.red
{
background-color:#FFDEDD;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.header
{ 
background: url(../images/header_bg.gif) repeat-x left top;
}
.header_bg
{
background: url(../images/head2.gif) left top no-repeat;	
}

.header1
{ 
background: url(../images/header_bg.gif) repeat-x left top;
border-left: 1px solid #ABD7F4;
padding-top:3px;
padding-left:1px;
}

.header2
{ 
background: url(../images/header_bg.gif) repeat-x left top;
border-right: 1px solid #ABD7F4;
}

.header_text
{
color:#01619E;
font-size:18px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
}
.xpress
{
color:#F68A1D;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:right;
}
.text1
{
color:#FFFFFF;
/*font-size:18px; */
font-size-adjust:18;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
background-color:#015A9C;
padding: 30px 0px 0px 38px;
}
.text2
{
color:#FFFFFF;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
background-color:#015A9C;
padding: 0px 0px 20px 38px;
}
.text_bold
{
color:#FFFFFF;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
background-color:#015A9C;
padding: 15px 0px 0px 38px;
}
.sign_in_border
{
border: 1px solid #669933;
}
.border_left
{
border-left: 1px solid #ABD7F4;
}
.border_right
{
border-right: 1px solid #ABD7F4;
}
.border_right1
{
border-right: 1px solid #9DC5DE;
}
.border_LR
{
border-left: 1px solid #ABD7F4;
border-right: 1px solid #ABD7F4;
}
.border_LBR
{
border-left: 1px solid #ABD7F4;
border-right: 1px solid #ABD7F4;
border-bottom: 1px solid #ABD7F4;
}

.line_height
{
line-height:20px;
}

.blue_bg
{
background-color:#D4EEFF;
}
.con1
{
color:#000000;
font-size:16px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con1a
{
color:#000000;
font-size:14px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con1a a
{
color:#000000;
font-size:14px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.con1a a:hover
{
color:#000000;
font-size:14px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.con1ab
{
color:#000000;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con2
{
color:#005A9D;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con3 a
{
color:#005A9D;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.con3 a:hover
{
color:#005A9D;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con3a 
{
color:#005A9D;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con4
{
color:#666666;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 33px 0px 0px 10px;
}
.con4a
{
color:#666666;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 10px;
}
.con5
{
color:#666666;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 0px 0px 0px 10px;
}
.con5 a 
{
color:#666666;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 0px;
}
.con5 a:hover
{
color:#666666;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding: 0px 0px 0px 0px;
}

.con6 
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con6 a
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con6 a:hover
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.con7 
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con7 a
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con7 a:hover
{
color:#999999;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}

.con8
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con8 a
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.con8 a:hover
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.con9_space
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 13px;
}
.con9_top
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 5px 6px;
}
.help
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
}
.help a
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.help a:hover
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con9
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
}
.con9_approve
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 12px;
}
.con9_mcaWiz
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 20px;
}
.con9_tree2
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
vertical-align:top;
padding:0px 0px 0px 6px;
}
.con9_tree2 a
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
vertical-align:top;
padding:0px 0px 0px 6px;
}
.con9_tree2 a:hover
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
vertical-align:top;
padding:0px 0px 0px 6px;
}
.con9_tree
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
vertical-align:top;
}
.con9_tree a
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
vertical-align:top;
}
.con9_tree a:hover
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
vertical-align:top;
}
.con9a
{
color:#696969;
font-size:10px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con9 a
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
padding:0px 0px 0px 6px;
}
.con9 a:hover
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
padding:0px 0px 0px 6px;
}
.con9b
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.con9c
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 5px;
}

.con9d
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 9px;
}

.con9b a
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.con9b a:hover
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}
.attach_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.save_file_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.rel_doc_tree
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.rel_doc_tree a
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;

}
.rel_doc_tree a:hover
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.rel_doc_tree_sub
{
color:#2D485B;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;

}
.rel_doc_tree_sub a
{
color:#2D485B;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding-left:15px;
}
.rel_doc_tree_sub a:hover
{
color:#2D485B;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.already_enroll
{
color:#000000;
font-size:16px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.dealer_spec_doc
{
color:#FFFFFF;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
background-color:#49A1E1;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 6px;
}
.blue_con
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 12px;
}
.blue_con1
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 0px 0px 0px 12px;
}
.blue_con1 a
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
padding: 0px 0px 0px 12px;
}
.blue_con1 a:hover
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 0px 0px 0px 12px;
}
.blue_con1ab
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 0px 0px 0px 682px;
}
.blue_con1ab a
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
padding: 0px 0px 0px 0px;
}
.blue_con1ab a:hover
{
color:#546A78;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 0px 0px 0px 0px;
}
.blue_con1ab_enroll
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 675px;
}
.blue_con1ab_enroll a
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding: 0px 0px 0px 0px;
}
.blue_con1ab_enroll a:hover
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 0px;
}

.blue_con1ab_print
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.blue_con1ab_print a
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.blue_con1ab_print a:hover
{
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.tab_con
{
color:#FFFFFF;
font-size:13px;
font-weight:bold;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:pointer;
padding: 0px 20px 0px 20px;
border-right: 1px solid #FFFFFF;
text-align:center;
}
.tab_on
{
    background: url(../images/tab_click_bg.gif) repeat-x left top;
	color:#001333;
    font-size:13px;
    font-weight:bold;
    font-family:trebuchet MS, Tahoma, Verdana, Arial;
	cursor:pointer;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #FFFFFF;
    text-align:center;
}
.tab_mouseover
{
    background: url(../images/tab_hover.gif) repeat-x left top;
	color:#001333;
    font-size:13px;
    font-weight:bold;
    font-family:trebuchet MS, Tahoma, Verdana, Arial;
	cursor:pointer;
    padding: 0px 20px 0px 20px;
border-right: 1px solid #FFFFFF;
text-align:center;
}
.tab2_con
{
color:#001333;
font-size:13px;
font-weight:bold;
text-decoration:none;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:pointer;
padding: 0px 20px 0px 20px;

}
.tab2_con_mouseover
{
color:#FFFFFF;
font-size:13px;
font-weight:bold;
text-decoration:underline;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:pointer;
padding: 0px 20px 0px 20px;
}
.tab2a_con
{
color:#001333;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:pointer;
text-decoration:none;
padding: 0px 20px 0px 20px;
}
.tab2a_con_mouseover
{
color:#FFFFFF;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:pointer;
text-decoration:underline;
padding: 0px 20px 0px 20px;
}
.text3
{
color:#696969;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.tab_con2_div
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
cursor:hand;
padding: 0px 0px 0px 0px;
}
.tab_con2_help
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:left;
cursor:hand;
padding: 0px 15px 0px 4px;
}
.tab_con2_help a
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:left;
cursor:hand;
text-decoration:none;
padding: 0px 15px 0px 4px;
}
.tab_con2_help a:hover
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:left;
cursor:hand;
text-decoration:underline;
padding: 0px 15px 0px 4px;
}
.tab_con2
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:right;
cursor:hand;
}
.tab_con3
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:right;
cursor:default;
}
.tab_con2 a
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:right;
cursor:hand;
text-decoration:none;
}
.tab_con2 a:hover
{
color:#FFFFFF;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-align:right;
text-decoration:underline;
}
.related_tab a
{
color:#1C677A;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
background: url(../images/blue_bg.gif) repeat-x left top;
text-decoration: none;
}
.blue_header
{
color:#000000;
font-size:18px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration: none;
background: url(../images/comment_bg.gif) repeat-x left top;
height:23px;
padding: 10px 0px 10px 15px;
} 
.related_tab a:hover
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
background: url(../images/blue_bg.gif) repeat-x left top;
text-decoration: none;
}
.comment_head_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration: none;
padding: 0px 0px 0px 15px;
} 
.comment_top_txt
{
color:#5B5E63;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration: none;
padding: 0px 0px 0px 15px;
}
.comment_spacer
{
background-color:#D5EBF9;
}
.enter_comm
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
background-color:#D5EBF9;
text-decoration: none;
padding: 0px 0px 0px 15px;
} 
.enter_comm_opt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration: none;
padding: 0px 0px 0px 15px;
} 
.comment_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration: none;
padding: 0px 0px 0px 0px;
}
.comment_his_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration: none;
padding: 0px 0px 0px 5px;
}
.comment_history_txt
{
color:#000000;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration: none;
font-weight:bold;
padding: 0px 0px 0px 5px;
}
.signin
{
    background:url(../images/button_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:147px;
	cursor:hand;
}

.sign
{
color:#275263;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.home_page_txt
{
color:#ffffff;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
padding: 0px 0px 0px 25px;
}
.home_page_txt a
{
color:#ffffff;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
}
.home_page_txt a:hover
{
color:#ffffff;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
}
.timestamp
{
background: url(../images/header_bg_time.gif) repeat-x left top;
color:#5D6162;
font-size:11px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.signout
{
color:#D57C2C;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}

.signout a
{
color:#D57C2C;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:underline;
}

.signout a:hover
{
color:#D57C2C;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}
.next
{
    background:url(../images/small_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:52px;
	cursor:hand;
}
.enroll
{
    background:url(../images/enroll.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:hand;
}
.enrollDisabled
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;	
}
.enroll_no_arrow
{
    background:url(../images/enroll_no_arrow.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:hand;
}
.enroll_red
{
    background:url(../images/enroll_red.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:70px;
	cursor:hand;
}
.attach
{
    background:url(../images/attach_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:87px;
	cursor:hand;
	text-align:center;
}
.attachDisabled
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:87px;
	text-align:center;
}
.approve
{
    background:url(../images/enroll.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:hand;
}
.deny
{
    background:url(../images/enroll.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:hand;
}
.save
{
    background:url(../images/save_but.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:118px;
	cursor:hand;
}
.save_no_arrow
{
    background:url(../images/save_but_no_arrow.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:118px;
	cursor:hand;
}
.print
{
    background:url(../images/print_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:75px;
	cursor:hand;
	text-align:center;
}
.long_alert
{
    background:url(../images/long_alert_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:126px;
	cursor:hand;
	text-align:center;
}
.long
{
    background:url(../images/long_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:131px;
	cursor:hand;
	text-align:center;
}
.long_app
{
    background:url(../images/long_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:131px;
	cursor:hand;
	text-align:center;
}
.long_sendback
{
    background:url(../images/long2_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:170px;
	cursor:hand;
	text-align:center;
}
.long_greyed_disabled_sendback
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:170px;
	cursor:default;
	text-align:center;
}
.long_greyed_disabled
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:131px;
	cursor:default;
	text-align:center;
}
.long_greyed_disabled_coun
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:200px;
	cursor:default;
	text-align:center;
}
.long_sendback_coun
{
    background:url(../images/long3_but_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:220px;
	cursor:hand;
	text-align:center;
}
.tab_bg
{
    background: url(../images/tab_bg.gif) repeat-x left top;
	height:20px;
}
.tab2_bg
{
    background: url(../images/sub_tab_bg.gif) repeat-x left top;
	height:27px;
}
.comment_bg
{
    background: url(../images/comment_bg.gif) repeat-x left top;
	height:57px;
}
.history_bg
{
    background: url(../images/history_bg.gif) repeat-x left top;
	height:88px;
	border:#A3BDCE solid 1px;
}
.history_bg1
{
	height:88px;
	width:96%;
	border:#A3BDCE solid 1px;
}


.ellipse_bg
{
	background-color:orange;
    width: 305px;
	height:259px;
}
.welcome_header_bg
{
	background: url(../images/welcome_header_new.gif) repeat-x left top;
	width: 653px;
	height:462px;
}
.grey_bg
{
    background-color:#F3F3F3;
}
.checked
{
background-color:#F3F3F3;
}
.normal
{
background-color:#FFFFFF;
}

.menuItem 
{
    color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	cursor:hand;
}
.highlightItem  
{   
    color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	cursor:hand;
}
div.menu1
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;
	width:116px;
	height:60px;
	display:none;
	padding-left:2px;
}
.menu1
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu1:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	}
.menu1_bot
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	padding-left:2px;
	}
.menu1_bot:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	}
div.home_menu
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;
	width:156px;
	height:80px;
	display:none;
	padding-left:2px;
}
.home_menu
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.home_menu:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	}
div.home2_menu
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;
	width:116px;
	height:40px;
	display:none;
	padding-left:2px;
}
.home2_menu
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.home2_menu:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	}
div.menu
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;
	width:116px;
	height:40px;
	display:none;
	padding-left:2px;
}
.menu
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	}
.menu_bot
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	padding-left:2px;
	}
.menu_bot:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	}
div.sub_menu
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;	
	height:15px;
	display:none;
	padding-left:2px;
}
div.menu_side
{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #3A7BB8;
	height:auto;
	display:none;
	padding-left:2px;
}
.menu_side_col1
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu_side_col1:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	}
.menu_side_col2
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu_side_col2:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-bottom: 1px solid #E6E6E6;
	}
.menu_side_bot_col1
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-right: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu_side_bot_col1:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-right: 1px solid #E6E6E6;
	}
.menu_side_bot_col2
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	background-color:#FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	padding-left:2px;
	}
.menu_side_bot_col2:hover
	{
	color:#3A7BB8;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	background-color:#EFF9FA;
	border-right: 1px solid #E6E6E6;
	}
a{display:block;}
.comm1_txt
{
	position:absolute;
	top: 600;
	left:500px;
	display:none;
	vertical-align:top;
	visibility: visible;
}	
.comm2_txt
{
	position:absolute;
	top: 600;
	left:500px;
	display:none;
	vertical-align:top;
	visibility: visible;
}	
.comm3_txt
{
	position:absolute;
	top: 600;
	left:500px;
	display:none;
	vertical-align:top;
	visibility: visible;
}	
.comm4_txt
{
	position:absolute;
	top: 600;
	left:500px;
	display:none;
	vertical-align:top;
	visibility: visible;
}	
.comm5_txt
{
	position:absolute;
	top: 600;
	left:500px;
	display:none;
	vertical-align:top;
	visibility: visible;
}	
.border_pop
{
    border-left: 1px solid #ABD7F4;
    border-bottom: 1px solid #ABD7F4;
    
}

.region
{
    width:120px;
    color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.category
{    
    color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.views
{
    width:140px;
    color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.share
{
    width:160px;
    color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.cp
{
    width:150px;
    color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.temp
{
	width:420px; 
	height:25px;
	color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.temp1
{	
	height:25px;
	color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.temp2
{
	width:230px; 
	height:25px;
	color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.savefile
{
	width:80px; 
	color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}
.apply_temp
{
	width:152px; 
	height:25px;
	color:#000000;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
}

.delete
{
    background:url(../images/save_but.gif) no-repeat top right;
	height:20px;
	border:0px solid #00629F;
	padding-right:20px;
	color:#FFFFFF;
	width:80px;
	cursor:hand; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:bold; 
	font-size:11px; 
	font-family:trebuchet MS, Tahoma, Verdana, Arial
}
.delete1
{
    background:url(../images/save_but.gif) no-repeat top right;
	height:20px;
	border:0px solid #00629F;
	padding-right:20px;
	color:#FFFFFF;
	width:110px;
	cursor:hand; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:bold; 
	font-size:11px; 
	font-family:trebuchet MS, Tahoma, Verdana, Arial
}

.product_bg1
{
background-color:#E9F6FE;
color:#295876;
font-size:12px;
font-weight:none;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
}
.border4a1
{
border-top: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}
.border4a1mca
{
border-bottom: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
}
.border4a_cover
{
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}

.mca_table
{
border-top: 1px solid #BEBEBE;
}
.drop1
{
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
}

.con9b1
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 20px;
}


/* mca grid styles */
.selectedCell
{
border-right: 1px solid BLACK;
border-bottom: 1px solid BLACK;
border-left: 1px solid BLACK;
border-top: 1px solid BLACK;
}

.innerTableCellBorder
{
border-bottom: 1px solid #BEBEBE;

}
.innerTableBorder
{
background-color:WHITE;
border-right: 1px solid #BEBEBE;
border-bottom: 1px solid #BEBEBE;
}

.innerTableCellWhite
{
background-color:WHITE;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
text-align:center;
}
.innerTableCellWhite1
{
background-color:WHITE;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE;
text-align:center;
}
.innerTableCellGreen
{
background-color:#D9F2D2;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
text-align:center;
}
.innerTableCellGreen1
{
background-color:#D9F2D2;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE
text-align:center;
}
.innerTableCellYellow
{
background-color:#FFDEDD;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE;
border-right: 1px solid #BEBEBE;
text-align:center;
}
.innerTableCellYellow1
{
background-color:#FFDEDD;
color:#636363;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid #BEBEBE
text-align:center;
}

.innerTableCellSelected
{
background-color:WHITE;
color:#636363;
font-size:12px;
text-align:center;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-left: 1px solid BLACK;
border-bottom: 1px solid BLACK;
border-top: 1px solid BLACK;
border-right: 1px solid BLACK;
}
.innerTableCellSelected2
{
background-color:WHITE;
color:#636363;
text-align:center;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding: 5px 0px 5px 10px;
border-bottom: 1px solid BLACK;
border-right: 1px solid BLACK;
border-top: 1px solid BLACK;
}
.prodHeading
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:none;
text-align:center;
padding:0px 0px 0px 12px;
}
.oddrowforalert
{
	background-color:#F3F3F3;
	
}
.evenrowforalert
{
	
}
.border_alert
{
border-left: 1px solid #ABD7F4;
border-right: 1px solid #ABD7F4;
border-bottom: 1px solid #ABD7F4;
width:800px;
}
.border_useralert
{
border-left: 1px solid #ABD7F4;
border-right: 1px solid #ABD7F4;
border-bottom: 1px solid #ABD7F4;
width:600px;
}
.blue_bg2_alert
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
width:45%;
height:26px;
padding:0px 0px 0px 12px;
text-align:left;
}
.blue_bg2_no_pad_alert
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 6px;
width:23%;
height:26px;
text-align:left;
}
.blue_bg2_no_pad_alert2
{ 
background: url(../images/blue_bg.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 6px;
width:32%;
height:26px;
text-align:left;
}
.con9_alert
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
width:45%;
height:26px;
text-align:left;
}
.con9_alert2
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
width:23%;
height:26px;
text-align:left;
}
.con9_alert3
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
width:32%;
height:26px;
text-align:left;
}


.con10
{
color:#295876;
font-size:16px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
}

.blue_bg2_cp_left
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 6px;
text-align:left;
}

.con11
{
color:#696969;
font-size:12px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
padding:0px 0px 0px 6px;
text-align:left;
}
.blue_bg2_cp_left1
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 12px;
text-align:left;
}
.enroll_sendback
{
    background:url(../images/enroll.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:hand;
	text-align:center;
}
.enroll_greyed_disabled
{
    background:url(../images/long_disabled.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:69px;
	cursor:default;
	text-align:center;
}
.product_bg_center
{
background-color:#E9F6FE;
color:#000000;
font-size:12px;
font-weight:bold;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
text-decoration:none;
text-align:center;
padding: 5px 0px 5px 10px;
}
.mcaTextArea
{
	color:#546A78;
	font-size:11px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	BORDER-BOTTOM: 0px ridge;
	BORDER-LEFT: 0px groove;
	BORDER-RIGHT: 0px ridge;
	BORDER-TOP: 0px groove;
	overflow:visible;
}
.timeout
{
    background:url(../images/button_bg.gif) top right no-repeat;
	height:20px;
	border:0px solid #00629F;
	padding-right:5px;
	color:#FFFFFF;
	font: bold 11px trebuchet MS, Tahoma, Verdana, Arial;
	width:50px;
	cursor:hand;
}
/*	For all the anchor tags - visited links */
.linkDealer:VISITED
{
	COLOR: #696969;
}

/*	For all the anchor tags - unvisited links */
.linkDealer:Link
{
	COLOR: #696969;
}

/*	For all the anchor tags -- on Mouse-over */
.linkDealer:Hover
{
	COLOR: #696969;
}
.blue_bg2_no_un_popup
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
padding:0px 0px 0px 6px;
text-align:left;
}
/*	For all the anchor tags - visited links */
.linkMCA:VISITED
{
	COLOR: #696969;
	text-decoration:none;
	cursor:default;
}

/*	For all the anchor tags - unvisited links */
.linkMCA:Link
{
	COLOR: #696969;
	text-decoration:none;
	cursor:default;
}

/*	For all the anchor tags -- on Mouse-over */
.linkMCA:Hover
{
	COLOR: #696969;
	text-decoration:none;
	cursor:default;
}
.paddingLeft
{
	padding:0px 0px 0px 6px;
}
.blue_bg2_cp_left2
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 28px;
text-align:left;
}
.blue_bg2_cp_left3
{ 
background: url(../images/blue_bg_cp.gif) repeat-x left top;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
height:30px;
padding:0px 0px 0px 29px;
text-align:left;
}



#tooltip {
  position: absolute;
  display:none;
  font-size:10px;
  font-family:Arial;
  padding:1px 2px 1px 2px;
  border: 1px solid black;
  background-color:lightyellow;
}

.blue_bg1_mca
{ 
background: url(../images/blue_bg1.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}.blue_bg2_mca
{ 
background: url(../images/blue_bg2.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}.blue_bg3_mca
{ 
background: url(../images/blue_bg3.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}.blue_bg4_mca
{ 
background: url(../images/blue_bg4.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}.blue_bg5_mca
{ 
background: url(../images/blue_bg5.gif) repeat-x left;
color:#295876;
font-size:13px;
font-family:trebuchet MS, Tahoma, Verdana, Arial;
font-weight:bold;
text-decoration:underline;
padding:0px 0px 0px 12px;
}

.history_border
{
	color:#000000;
	font-size:12px;
	font-family:trebuchet MS, Tahoma, Verdana, Arial;
	text-decoration:none;
	BORDER-BOTTOM: 0px ridge;
	BORDER-LEFT: 0px groove;
	BORDER-RIGHT: 0px ridge;
	BORDER-TOP: 0px groove;
	overflow:visible;
}